@import "../../../Assets/Styles/colors.scss";
.singleDay {
  position: absolute;
  top: 5px;
  left: 10px;
}
.reminders-container {
  width: 100%;
  overflow: scroll;
  max-height: 50%;
}
.reminders-container:hover {
  background-color: $skyBlue;
}
.reminder {
  color: $white;
}
.reminder:hover {
  background-color: $skyBlue !important;
}
.container-new-reminder {
  text-align: center;
  width: 100%;
  background-color: $olivedrab;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ant-btn {
  bottom: 0 !important;
  left: 0 !important;
}
.ant-btn-block {
  position: absolute !important;
}
.anticon-delete-epa {
  position: absolute;
  top: 0;
  right: 0;
  background: $deleteReminders;
  border-radius: 25px;
  padding: 10px;
  color: $white;
}
